.main {
    margin-top: 13px;
    > p {
        font-weight: 300;
        font-size: 15.4px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.333333px;
        color: #50555c;
    }
}
