.main {
    >.AMain {
        background: #C9F1FE;
        box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(27.1828px);
        border-bottom: none;
    }

    .category {
        :locale(.active) {
            background-color: aqua;
        }

        >div {
            border: 1.5px solid #9CBFCB;
            color: black;
        }
    }
}