@import "./../style/style.scss";
.main {
    > .AMain {
        @include headerColor;
    }

    .category {
        :locale(.active) {
            background-color: aqua;
        }

        > div {
            border: 1.5px solid #9cbfcb;
            color: black;
        }
    }

    > .list {
        padding: 21px;
        position: relative;

        > div {
            margin-bottom: 17px;
        }
    }

    > .button {
        position: fixed;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        right: 0;
        padding: 21px;

        > div {
            width: 48%;
            > a {
                text-decoration: none;
            }
        }

        > :first-child {
            > a > button {
                background: #50555c;
            }
        }

        > :last-child {
            > a > button {
                background: #ffd600;
                color: #000;

                > :last-child {
                    padding: 0px 7px;
                    background: red;
                    border: 1px solid #ffffff;
                    box-sizing: border-box;
                    color: #fff;
                    border-radius: 50%;
                    margin-left: 8px;
                }
            }
        }
    }
}
