.main {
  background: #efd5d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;

  > div {
    padding: 3px 21px;
  }

  > .logo {
    display: flex;
  }

  > .contact {
    > a {
      color: #d09193;
      text-decoration: none;
    }
  }
}
